body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

button {
    background-color: black;
    color: rgb(19, 65, 142);  
    z-index: 5
}

#back {
    position: absolute;
    left: 0;
    top: 0
}

h1 {
    text-align: center
}

.settings {
    background-color: rgb(53, 57, 64)
}

input {
    border: solid 3px blue
}

.event, .exoduses {
    border: solid black 7px;
    padding: 5px
}

h2 {
    margin: 5px
}

#newExodus {
    font-size: 30px
}

.eventContainer {
    display: flex;
    justify-content: center;
    align-items: center
}

#check {
    background-color: white;
    margin: 5px
}

@media (min-width: 1000px) {
    #back {
        font-size: 40px
    }

    p {
        font-size: 25px
    }

    h2 {
        font-size: 25px
    }

    .settings {
        width: 55%;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
    }

    label {
        font-size: 25px
    }

    input {
        font-size: 25px;
        width: 80%;
        margin: 5px 0 5px 0
    }
}

@media (max-width: 999px) {
    h1 {
        position: relative;
        top: 24px
    }
}
