body {
    background-color: rgb(26, 26, 29);
    color: white
}

h1 {
    text-align: center
}

button {
    background-color: black;
    color: rgb(19, 66, 142)
}

nav {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    position: absolute
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute
}

a {
    color: rgb(3, 79, 200)
}

@media (min-width: 1200px) {
    p {
        font-size: 30px
    }

    #text {
        font-size: 35px
    }

    #mainButton {
        font-size: 35px
    }

    nav {
        left: 700px;
        top: 150px;
        width: 550px
    }

    nav button {
        font-size: 40px
    }

    footer {
        left: 25px;
        bottom: 125px;
        gap: 5px
    }

    a {
        font-size: 30px
    }
}

@media (max-width: 1199px) {
    h1 {
        font-size: 50px
    }

    p {
        font-size: 45px
    }

    #mainButton {
        font-size: 65px
    }

    nav {
        right: 250px;
        top: 550px;
        width: 700px;
        height: 450px;
        text-align: center
    }

    nav button {
        font-size: 55px
    }

    footer {
        left: 50px;
        bottom: 250px;
        gap: 20px
    }

    a {
        font-size: 45px
    }
}