body {
background-color:rgb(26, 26, 29)
}
div {
color: white;
font-size: 20px;
}
.ssilki {
color: rgb(36, 87, 189);
font-size: 20px
}
#kalkul {
position: absolute;
left: 300px;
top: 100px
}
#istoria {
position: absolute; 
left: 300px;
top: 135px
}
#kliker {
position: absolute;
left: 300px;
top: 170px
}
button {
background-color: black;
color: rgb(19, 66, 142);
font-size: 20px
}
#knopka {
font-size: 50px
}
