body {
    background-color: rgb(26, 26, 29)
}
.nadpisi {
    color: White
}
@media (min-width: 1200px){
    #najmi {
        font-size: 30px
    }
    #interes {
        font-size: 25px
    }  
    .knopki {
        font-size: 20px;
        position: absolute;
        left: 700px
    }
    .ssilki {
        color: rgb(36, 87, 189);
        font-size: 20px;
    }
    #istoria {
        position: absolute;
        top: 120px
    }
    #kalkul {
        position: absolute;
        top: 155px
    }
    #kliker {
        position: absolute;
        top: 190px
    }
    button {
        background-color: black;
        color: rgb(19, 66, 142);
        font-size: 20px
    }
    #knopka {
        font-size: 30px
    }
}
@media (min-width: 1px) and (max-width: 1199px) {
    #dobro {
        font-size: 60px
    }
    #najmi {
        font-size: 50px
    }
    #nadpis{
        font-size: 50px
    }
    .ssilki {
        color: rgb(36, 87, 189);
        font-size: 45px;
    }
    .container {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 450px
    .knopki {
        font-size: 40px;
    }
    #kalkul {
        margin-top: 7px;
        margin-bottom: 7px
    }
    button {
        background-color: black;
        color: rgb(19, 66, 142)
    }

    #knopka {
        font-size: 65px
    }
    #interes {
        font-size: 45px;
        position: absolute;
        top: 600px
    }
    #MyTg {
        position: absolute;
        top: 670px
    }
    #TgCh {
        position: absolute;
        top: 720px
    }
    #vk {
        position: absolute;
        top: 770px
    }
    #tiktok {
        position: absolute;
        top: 820px
    }
          }
