body {
    color: white;
    font-family: monospace;
    background: linear-gradient(90deg, rgb(26, 26, 29) 0%, rgb(50, 50, 56) 100%);
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin: 3px;
}

p {
    font-size: 25px;
}

button {
    background-color: black;
    color: rgb(19, 65, 142);
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 12vh;
    width: 100%;
    margin: 0;
    display: flex;
    background-color: black;
    align-items: center;
    padding: 0;
    gap: 7px;
    z-index: 2;
}

.tabs {
    background: black;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
}

.tabs:hover {
    background-color: rgb(19, 65, 142);
    color: black;
}

.tabsContainers {
    display: flex;
    height: 100%;
    flex-grow: 1;
    margin: 0;
}

main {
    position: relative;
    top: 15vh;
}

#quote {
    overflow-wrap: break-word;
    font-style: italic;
}

#interesting {
    margin: 0;
    position: relative;
    font-size: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    top: 15vh;
}

a {
    color: rgb(3, 79, 200);
    font-size: 25px;
}

a:hover {
    color: rgb(226, 8, 8);
}


#mainButton {
    font-size: 35px;
}

ul {
    display: none;
    flex-direction: column;
    padding: 0;
    gap: 0;
    z-index: 2;
    margin: 0;
    position: fixed;
}

li button {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-top: solid;
}

li::marker {
    content: none;
}

.overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

@media (max-width: 999px) {
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 20px;
    }

    button:active {
        background-color: rgb(19, 65, 142);
        color: black;
    }

    header {
        display: flex;
        flex-direction: column;
        height: 20vh;
    }

    .tabs {
        font-size: 20px;
        border: solid 1px;
        padding: 0;
        margin: 0;
        z-index: 2;
        width: 50%;
    }

    .tabsContainers {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40%;
    }

    main {
        top: 20vh;
    }

    footer {
        top: 20vh;
    }

    #mainButton {
        font-size: 25px;
    }

    #interesting {
        font-size: 18px;
        margin-top: 7%;
    }

    a {
        font-size: 19px;
    }

    .overlay {
        width: 100%;
        height: 1000px;
    }
}

/*Окраска кнопок при наведении курсора для ПК*/
@media (min-width: 999px) {
    button:hover {
        background-color: rgb(19, 65, 142);
        color: black;
    }
}