body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

h1 {
    text-align: center
}

button {
    background-color: black;
    color: rgb(19, 65, 142)
}

#quote {
    overflow-wrap: break-word
}

nav {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr
}

#interesting {
    margin-bottom: 0;
    position: relative
}

footer {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.relativeFooter {
    position: relative
}

a {
    color: rgb(3, 79, 200)
}

@media (min-width: 1000px) {
    p {
        font-size: 25px
    }

    #mainButton {
        font-size: 35px
    }

    .quoteContainer {
        width: 57%;
        margin-right: 5%
    }

    nav {
        position: absolute;
        right: 1%;
        width: 40%;
        top: 50%;
        transform: translateY(-50%)
    }

    nav button {
        font-size: 35px
    }

    footer {
        position: absolute;
        bottom: 4%
    }

    #interesting {
        font-size: 25px
    }

    a {
        font-size: 25px
    }
}

@media (max-width: 999px) {
    h1 {
        font-size: 25px
    }

    p {
        font-size: 20px
    }

    #mainButton {
        font-size: 25px
    }

    nav button {
        font-size: 20px
    }

    nav {
        width: 70%;
        margin: 7% auto 0
    }

    footer {
        position: absolute;
        bottom: 2%
    }

    #interesting {
        font-size: 18px
    }

    a {
        font-size: 17px
    }
}
