body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

h1 {
    text-align: center
}

#interesting {
    margin-bottom: 0
}

button {
    background-color: black;
    color: rgb(19, 65, 142)
}

nav {
    position: absolute;
    display: inline-grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column
}

a {
    color: rgb(3, 79, 200)
}

@media (min-width: 1000px) {
    p {
        font-size: 30px
    }

    #text {
        font-size: 35px
    }

    #mainButton {
        font-size: 35px
    }

    nav {
        left: 700px;
        top: 150px;
        width: 550px
    }

    nav button {
        font-size: 40px
    }

    footer {
        gap: 5px;
        bottom: 30px
    }

    a {
        font-size: 30px
    }
}

@media (max-width: 999px) {
    h1 {
        font-size: 25px
    }

    p {
        font-size: 20px
    }

    #mainButton {
        font-size: 25px
    }

    nav button {
        font-size: 20px
    }

    nav {
        left: 50%;
        top: 240px;
        transform: translateX(-50%)
    }

    footer {
        gap: 7px;
        bottom: 10px
    }

    a {
        font-size: 20px
    }
}
