p {
    font-size: 22px;
}

label {
    font-size: 25px;
}

select {
    font-size: 22px;
    margin: 5px;
}

h5 {
    font-size: 25px;
}

.settings {
    margin-bottom: 15px;
    background-color: rgb(19, 18, 18);
    border: solid gray;
    padding: 5px;
}

/* Адаптация под телефоны */
@media (max-width: 999px) {
    button {
        font-size: 30px;
    }

    h5 {
        font-size: 20px;
    }

    label {
        font-size: 22px;
    }
}
