body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: monospace;
}

button {
    background-color: black;
    color: rgb(19, 65, 142);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

button:hover {
    background-color: rgb(19, 65, 142);
    color: black;
}

h1 {
    text-align: center;
    position: relative;
}

textarea {
    font-size: 25px;
    border: solid 3px blue;
    background-color: white
}

.textContainer {
    text-align: center
}

.stats {
    display: flex;
    flex-direction: column;
    position: relative;
}

.stats h2 {
    margin: 0
}

@media (min-width: 1000px) {
    button {
        font-size: 40px
    }

    h1 {
        font-size: 40px
    }

    .textContainer {
        height: 500px;
        width: 100%
    }

    textarea {
        width: 80%;
        height: 100%
    }

    .stats {
        font-size: 30px;
        bottom: 15px
    }
}

@media (max-width: 999px) {
    button {
        font-size: 30px
    }

    h1 {
        font-size: 30px;
        top: 20px
    }

    .textContainer {
        height: 450px;
        width: 100%;
        text-align: center;
        margin-top: 10%
    }

    textarea {
        height: 100%;
    }

    .stats {
        font-size: 17px;
        top: 25px
    }
}