textarea {
    font-size: 25px;
    border: solid 3px blue;
    background-color: white;
    width: 80%;
    height: 100%;
}

.textContainer {
    text-align: center;
    height: 500px;
    width: 100%;
}

.stats {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 22px;
    bottom: 15px;
}

.stats h2 {
    margin: 0;
}

/* Адаптация под телефоны */
@media (max-width: 999px) {
    .textContainer {
        height: 450px;
        width: 100%;
        margin-top: 5%;
    }

    .stats {
        font-size: 17px;
        top: 10px;
    }
}