body {
    color: white;
    font-family: monospace;
    background: linear-gradient(90deg, rgb(26, 26, 29) 0%, rgb(50, 50, 56) 100%);
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 23px;
}

h3 {
    display: inline-block;
    font-size: 25px;
    margin: 5px;
}

button {
    background-color: black;
    color: rgb(19, 65, 142);  
    cursor: pointer;
}

#back {
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

p {
    font-size: 24px;
}

a {
    color: rgb(3, 79, 200);
}

a:hover {
    color: rgb(226, 8, 8);
}

.preview {
    text-align: center;
    width: 100%;
}

#preview {
    width: 800px;
    height: 225px;
    position: relative;
    right: 25px;
}

/*Заголовок таблицы*/
.titleTable {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titleTable button {
    background-color: transparent;
    border: none;
    width: 35px;
}

.titleTable img {
    width: 35px;
    height: 35px;
}

/*Таблица*/
.table {
    background-color: rgb(53, 57, 64);
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.mainLine {
    background-color: rgb(19, 66, 142);
    font-size: 25px;
    display: flex;
    border-bottom: solid 5px black;
}

.mainName {
    width: 60%;
    text-align: center;
    border-right: solid 5px black;
}

#empty {
    text-align: center;
}

.mainScore {
    width: 40%;
    text-align: center;
}

.border {
    background-color: black;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 60%
}

.line {
    display: flex;
    border-bottom: solid 5px black;
}

.names {
    width: 60%;
    font-size: 24px;
}

.scores {
    width: 40%;
    font-size: 24px;
    text-align: center;
}

/*Информация*/
.menuInfo {
    display: none;
    position: fixed;
    background-color: rgb(41, 43, 44);
    z-index: 5;
    text-align: center;
    width: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 0 3% 1% 2%;
}

.menuInfo button {
    font-size: 30px;
}

.menuInfo p {
    text-align: start;
}

.exit {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 46px;
    height: 42px;
}


.exit img {
    width: 35px;
    height: 35px;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 2;
    width: 100%;
    height: 100%;
}

/*Адаптация под телефоны*/
@media (max-width: 999px) {
    #back {
        font-size: 30px;
    }

    main {
        position: relative;
        top: 24px;
    }

    button:active {
        background-color: rgb(19, 65, 142);
        color: black;
    }

    p {
        font-size: 18px;
    }

    h3 {
        font-size: 20px;
    }

    #preview {
        width: 100%;
        height: 100px;
        right: 0;
    }

    .table {
        width: 100%;
    }

    .exit {
        width: 43px;
        height: 40px;
    }

    .exit img {
        width: 30px;
        height: 30px;
    }

    .menuInfo {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        padding: 7% 3% 3% 3%;
    }
    
    .menuInfo button {
        font-size: 24px;
    }
}

/*Окраска кнопок при наведении курсора на ПК*/
@media (min-width: 1000px) {
    button:hover {
        background-color: rgb(19, 65, 142);
        color: black;
    }
}