body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma;
    user-select: none
}

button {
    background-color: black;
    color: rgb(19, 65, 142);
    z-index: 1
}

#back {
    position: absolute;
    left: 0;
    top: 0 
}

h1 {
    position: relative;
    text-align: center
}

#mainButton {
    background-color: greenyellow;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto
}

.buttonClicked {
    background-color: rgb(90, 116, 51) !important
}

.score h4 {
    display: inline-block;
    margin: 0
}

.titleTable {
    display: inline-block
}

#help {
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 25px;
    position: relative;
    top: 7px;
    right: 3px
}

#info {
    border: none
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 2
}

.menuInfo {
    display: none;
    position: fixed;
    background-color: rgb(41, 43, 44);
    z-index: 5;
    text-align: center
}

.menuInfo p {
    text-align: start
}

#exit {
    position: absolute;
    top: 0;
    right: 0;
    border: none
}

.table {
    background-color: rgb(53, 57, 64);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0
}

.mainLine {
    background-color: rgb(19, 66, 142);
    font-size: 25px;
    display: flex;
    border-bottom: solid 5px black
}

.border {
    background-color: black;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 60%
}

.line {
    display: flex;
    border-bottom: solid 5px black
}

.mainName {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center
}

.names {
    width: 60%
}

.scores {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center
}

@media (min-width: 1000px) {
    #back {
        font-size: 40px
    }

    h1 {
        font-size: 40px;
        position: relative;
        right: 5%
    }

    #mainButton {
        font-size: 70px;
        width: 425px;
        height: 400px;
        right: 5%
    }

    .score {
        position: relative;
        top: 30px;
        width: 64%;
        word-break: break-all
    }

    .score h4 {
        font-size: 30px
    }

    .score button {
        display: none
    }

    h3 {
        font-size: 35px;
        display: inline-block;
        margin: 0
    }

    #info {
        width: 35px;
        height: 35px
    }

    .overlay {
        width: 100%;
        height: 100%
    }

    .menuInfo {
        width: 800px;
        height: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        padding: 0 3% 0 2%
    }

    .menuInfo button {
        font-size: 30px
    }

    h2 {
        font-size: 25px
    }

    p {
        font-size: 20px
    }

    #exit {
        width: 48px;
        height: 45px
    }

    #exit img {
        width: 35px;
        height: 35px
    }

    .titleTable {
        position: absolute;
        right: 0;
        top: 2%;
        width: 35%;
        text-align: center
    }

    .table {
        position: absolute;
        width: 35%;
        top: 75px
    }

    .names {
        border-left: solid black;
        padding-left: 3px;
        font-size: 25px
    }

    .scores {
        font-size: 25px
    }

    .line {
        font-size: 30px
    }
}

@media (max-width: 999px) {
    #back {
        font-size: 30px
    }

    h1 {
        font-size: 30px;
        top: 24px
    }

    #mainButton {
        font-size: 45px;
        width: 250px;
        height: 250px;
        top: 7px
    }

    .score {
        position: relative;
        margin-top: 7%
    }

    .score h4 {
        font-size: 25px
    }

    .score button {
        position: absolute;
        right: 0
    }

    #lock {
        background-color: white   
    }

    #lock img {
        width: 30px;
        height: 35px
    }

    h3 {
        font-size: 25px;
        text-align: center;
        margin: 0;
        display: inline-block
    }

    #info {
        width: 30px;
        height: 30px
    }

    .overlay {
        width: 100%;
        height: 125%;
    }

    .menuInfo {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        padding: 7% 3% 3% 3%
    }
    
    .menuInfo button {
        font-size: 24px
    }

    #exit {
        width: 43px;
        height: 40px
    }

    #exit img {
        width: 30px;
        height: 30px
    }

    h2 {
        font-size: 25px
    }

    p {
        font-size: 20px
    }

    .titleTable {
        text-align: center;
        width: 100%;
        margin: 20% auto 2%
    }

    .table {
        width: 100%
    }

    .line {
        font-size: 20px
    }
}
