body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

button {
    background-color: black;
    color: rgb(19, 65, 142);
    position: relative
}

#back {
    position: absolute;
    left: 0;
    top: 0
}

h1 {
    text-align: center
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px
}

.passwordSettings {
    position: relative;
    text-align: center
}

input {
    border: solid 3px blue
}

.buttonDisabled {
    opacity: 0.55
}

h2 {
    text-align: center
}

.password {
    text-align: center;
    word-break: break-all;  
    position: relative
}

.messageCopy {
    display: none;
    z-index: 5;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 5%
}

@media (min-width: 1000px) {
    #back {
        font-size: 40px
    }

    label {
        font-size: 30px
    }

    .passwordSettings {
        background-color: rgb(53, 57, 64);
        width: 50%
    }

    input {
        font-size: 30px;
        position: relative;
        top: 5px
    }

    #generator {
        font-size: 40px;
        margin-bottom: 15px
    }

    h2 {
        font-size: 40px;
        position: relative;
        margin: 10px auto 0
    }

    #copy {
        font-size: 45px;
        position: absolute;
        right: 5px;
        bottom: 45%
    }

    .messageCopy {
        font-size: 30px;
        padding: 15px
    }

    .password {
        font-size: 40px
    }
}

@media (max-width: 999px) {
    #back {
        font-size: 30px
    }

    h1 {
        position: relative;
        top: 24px
    }
    
    label {
        font-size: 20px
    }

    .passwordSettings {
        background-color: rgb(53, 57, 64);
        left: 50%;
        transform: translateX(-50%)
    }

    input {
        font-size: 20px;
        width: 95%;
        position: relative;
        top: 4px
    }

    #generator {
        font-size: 30px;
        margin-bottom: 10px
    }

    h2 {
        font-size: 30px;
        position: relative;
        margin: 10px auto 5px
    }

    #copy {
        font-size: 30px;
        left: 100%;
        transform: translateX(-100%)
    }

    .messageCopy {
        font-size: 25px;
        padding: 5px
    }

    .password {
        font-size: 30px;
        top: 285px
    }
}
