body {
    background: linear-gradient(90deg, rgb(26, 26, 29) 0%, rgb(50, 50, 56) 100%);
    color: white;
    font-family: monospace;
}

button {
    background-color: black;
    color: rgb(19, 65, 142);  
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
    text-align: center;
}

h4 {
    font-size: 23px;
    text-align: center;
    margin: 5px;
}

p {
    font-size: 20px;
}

a {
    color: rgb(3, 79, 200);
}

a:hover {
    color: rgb(226, 8, 8);
}

.gainsDescriptions {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Окраска кнопок при навдени курсора на ПК */
@media (min-width: 1000px) {
    button:hover {
        background-color: rgb(19, 65, 142);
        color: black;
    }
}

/* Адаптация под телефоны */
@media (max-width: 999px) {
    button {
        font-size: 25px;
    }

    button:active {
        background-color: rgb(19, 65, 142);
        color: black;
    }

    main {
        position: relative;
        top: 20px;
    }
}