body {
  background-color: rgb(26, 26, 29);
  color: white;
  font-family: Tacoma
}

button {
  background-color: black;
  color: rgb(19, 65, 142);
  z-index: 5
}

h1 {
  text-align: center
}

#back {
  position: absolute;
  top: 0;
  left: 0
}
